<form class="needs-validation" novalidate>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label>From</label>
      <input type="text" class="form-control" id="validationCustom01" placeholder="From" required>
      
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationCustom02">To</label>
      <input type="text" class="form-control" id="validationCustom02" placeholder="To"  required>
     
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationCustom02">  </label>
      <button class="btn btn-primary" type="submit">Submit form</button>
    </div>

  
    
  </div>
  <br><br><br><br>
  
  <div>
    
  </div>
  
</form>
