body {
    background: #f5f7f9;
    margin-right: 30px;
    margin-left: 30px;
}
/*section login*/
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 1rem;

    .wrapper {
        width: 450px;
        padding: 2rem;
        position: relative;

        @media(min-width:768px) {
            padding: 3rem 3.5rem;
        }

        background: #fff;
        border-radius: .7rem;

        .register-link {
            position: absolute;
            bottom: -45px;
            left: 0;
            right: 0;
            color: $second-color;

            a {
                color: $second-color;
                font-weight: 600;
            }
        }

        .btn {
            font-weight: 600;
        }
    }
}
/*end login*/

.body-content {
    margin-top: 75px;
    position: relative;
}

.right-side {
    margin-left: 70px;
    padding: 1.5rem 0;
    @include transition(300ms,all,ease);
}


.sec-dashboard {
    .tbl-incomplete-wrapper {
        .form-inline {
            .progress {
                width: 150px;
                margin-left: 10px;
            }

            .percent {
                display: inline-block;
                width: 30px;
            }
        }
    }

    .card-chart {
        .statistic-wrapper {
            .row {
                .col-md-4:not(:last-child) {
                    @media (min-width:768px) {
                        border-right: 1px solid #dedede;
                    }
                }
            }
        }
    }
}
