/*Checkbox*/

.chk-outer {
    position: relative;

    input[type=checkbox] {
        width: 18px;
        height: 18px;
        position: absolute;
        top: 3px;
        left: 0;
        z-index: 1;
        visibility: hidden;

        &:checked ~ .fa-check {
            color: $primary-color;
        }
    }

    .fa-check {
        position: absolute;
        width: 18px;
        height: 18px;
        border: 1px solid $primary-color;
        border-radius: 2px;
        text-align: center;
        top: 3px;
        color: transparent;
        background: #fff;
    }

    .caption {
        margin-left: 30px;
    }
}
/*End checkbox section*/

/*Button*/
.btn {
    font-weight: 500;

    &.btn-primary {
        background: $primary-color;
        border-color: $primary-color;

        &:hover {
            background: lighten($primary-color,10%);
        }
    }

    &.btn-second {
        background: $second-color;
        border-color: $second-color;
        color: #fff;
        font-weight: 500;

        &:hover {
            background: lighten($second-color,10%);
        }
    }
}
/*End Button*/

/*Circle progress bar*/
.circle {
    width: 200px;
    margin: 6px 20px 20px;
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: top;

    strong {
        top: 50px;
        left: 0;
        width: 100%;
        text-align: center;
        line-height: 45px;
        font-size: 2rem;
        font-family: $second-font;

        small {
            font-size: 1rem;
        }
    }

    span.typcn {
        margin-bottom: .5rem;
        display: block;

        &.typcn-upload {
            color: #37ca98;
        }

        &.typcn-group {
            color: #ab5ebe;
        }

        &.typcn-chart-bar {
            color: #3592ea;
        }
    }

    span.caption {
        font-weight: 500;
        display: block;
    }
}
/*End circle progress bar*/

/*card*/
.card {
    margin-bottom: 2rem;
    box-shadow: 0 5px 5px #eee;
    border-color: #eee;

    .card-title {
        color: $second-color;
        font-weight: bold;

        &.border-b {
            &:after {
                width: 100px;
                height: 2px;
                background: $second-color;
                content: '';
                display: block;
                margin: auto;
                margin-top: 30px;
            }
        }
    }
}
/*end card*/

/*pagination*/
.pagination {
    .page-link {
        color: $primary-color;
        font-family: $second-font;
    }

    .page-item {
        &.active {
            .page-link {
                background: $primary-color;
                color: #FFF;
                border-color: $primary-color;
            }
        }
    }
}
/*End pagination*/

/*table*/
table {
    table-layout: fixed;

    tr {
        td {
            max-width: 1px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}
