header {
    .navbar {
        background: #fff;
        box-shadow: 0 0 3px #ccc;
        margin-left: 70px;
        @include transition(300ms,all,ease);

        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: $primary-color;
                    padding-left: 1rem;
                    padding-right: 1rem;

                    i {
                        margin-right: 5px;
                    }

                    &:hover {
                        color: $second-color;
                    }
                }
            }
        }

        .navbar-brand {
            color: $primary-color;

            &:hover {
                color: $second-color;
            }
        }

       
    }
}
