.left-side {
    position: fixed;
    left: 0;
    top: 0;
    background: $primary-color;
    bottom: 0;
    width: 220px;
    z-index: 10002;
    max-height: 100%;
    overflow: auto;
    overflow-x: hidden;
    @include transition(300ms,all,ease);
    margin-left: -150px;

    .nav {
        padding: 0 0 1rem;

        .nav-link {
            color: lighten($primary-color,30%);
            padding: 1.2rem 1rem;
            @include transition(200ms,all,ease);

            i {
                display: inline-block;
                vertical-align: top;
                margin-top: 3px;
                margin-right: 15px;
                margin-left: 155px;

                &.fa-calendar-check {
                    font-size: 1.2rem;
                    margin-right: 20px;
                    margin-top: 5px;
                    margin-left: 158px;
                }
            }

            .caption {
                /*display: inline-block;*/
                vertical-align: top;
                display: none;
            }

            &.active, &:hover {
                background: lighten($primary-color,5%);
                color: #FFF;
            }
        }

        .nav-item {
            &.hide-md {
                @media(min-width:992px) {
                    display: none;
                }
            }
        }
    }

    .current-user {
        padding: 1rem;
        border-bottom: 1px solid lighten($primary-color,5%);
        background: darken($primary-color,5%);
        text-align: right;

        .rounded-circle {
            display: inline-block;
            overflow: hidden;
            vertical-align: middle;
        }

        .user-name {
            display: none;
            color: $second-color;
            font-weight: 600;
            vertical-align: middle;
        }
    }
}
