<div class="qz-footer">
    <div class="container-fix">
        <ul class="nav nav-pills">
            <li role="presentation" class=""><a href="javascript:;">Privacy Policy</a></li>
            <li role="presentation" class=""><a href="javascript:;">Terms of Use</a></li>
            <li role="presentation" class=""><a href="javascript:;">Contact Us</a></li>
            <li role="presentation" class=""><a href="javascript:;">Support</a></li>
        </ul>
        <div class="text-right"> Copyright &copy; 2018 OneTech Inovation </div>
    </div>
</div>
